{% extends 'core/base.html'%}

{% load static %}
<title>{% block title %}Restablecer Contraseña{% endblock %}</title>

{% block content %}

<p class="volver-menu"><a href="{% url 'inicio' %}"><- Volver Al Menú</a></p>

<section class="form-login">
    <form method="POST" class="form-resta">
        {% csrf_token %}
        <h5>Restablecer contraseña</h5>
        
        <!-- Mostrar mensajes de error si existen -->
        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </ul>
        {% endif %}
        
        <!-- Mostrar mensajes de error en los campos individuales -->
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <p class="errores_recuperar">{{ error }}</p>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <div class="div-contraseña">
            <button type="submit" class="boton-contraseña">Guardar contraseña</button>
        </div>
    </form>
</section>
{% endblock %}
